<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.wield.push</string>
	<key>WorkingDirectory</key>
	<string>__WIELD_REPO__</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>__NODE_BIN__:/usr/bin:/bin</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>-c</string>
		<string>export $(grep -v '^#' .env | xargs) &amp;&amp; exec npm run push -- --root ~</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>9</integer>
		<key>Minute</key>
		<integer>17</integer>
	</dict>
	<key>StandardOutPath</key>
	<string>__HOME__/Library/Logs/wield-push.log</string>
	<key>StandardErrorPath</key>
	<string>__HOME__/Library/Logs/wield-push.log</string>
</dict>
</plist>
